<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bp.dao.CoreDao">


    <insert id="insertOrderDetail" parameterType="com.bp.po.OrderDetail">
        INSERT INTO project.t_order_detail( name,sex,mobile,province,city,agentName,agentCode,carType,carTypeCode,mediaName,mediaUrl,subject,terminal,create_time,is_activity)
        VALUES( #{name},#{sex},#{mobile}, #{province}, #{city},#{agentName},#{agentCode},#{carType},#{carTypeCode},#{mediaName},#{mediaUrl},#{subject},#{terminal},#{createTime},#{isActivity});
    </insert>

    <insert id="insertUser" parameterType="com.bp.po.User">
        INSERT INTO project.t_users( user_name,phone,sex,create_time)
        VALUES(#{userName},#{phone},#{sex},#{createTime});
    </insert>

    <select id="queryUserList" parameterType="com.bp.po.User" resultType="com.bp.po.User">
        SELECT * FROM project.t_users
        <where>
            <trim prefixOverrides="and">
                <if test="userName != null">
                    user_name = #{userName}
                </if>
                <if test="phone != null">
                    and phone = #{phone}
                </if>
                <if test="sex != null">
                    and sex = #{sex}
                </if>
                <include refid="dateRangeChoose"/>
            </trim>
        </where>
    </select>

    <select id="queryOrderDetailList" parameterType="com.bp.po.OrderDetail" resultType="com.bp.po.OrderDetail">
        SELECT * FROM project.t_order_detail
        <where>
            <trim prefixOverrides="and">
                <if test="name != null">
                    name = #{name}
                </if>
                <if test="sex != null">
                    and sex = #{sex}
                </if>
                <if test="mobile != null">
                    and mobile = #{mobile}
                </if>
                <if test="province != null">
                    and province = #{province}
                </if>
                <if test="city != null">
                    and city = #{city}
                </if>
                <if test="agentName != null">
                    and agentName = #{agentName}
                </if>
                <if test="agentCode != null">
                    and agentCode = #{agentCode}
                </if>
                <if test="carType != null">
                    and carType = #{carType}
                </if>
                <if test="carTypeCode != null">
                    and carTypeCode = #{carTypeCode}
                </if>
                <if test="mediaName != null">
                    and mediaName = #{mediaName}
                </if>
                <if test="mediaUrl != null">
                    and mediaUrl = #{mediaUrl}
                </if>
                <if test="subject != null">
                    and subject = #{subject}
                </if>
                <if test="terminal != null">
                    and terminal = #{terminal}
                </if>
                <include refid="dateRangeChoose"/>
                <if test="isActivity != null">
                    and is_activity = #{isActivity}
                </if>
            </trim>
        </where>
    </select>


    <sql id="dateRangeChoose">
        <choose>
            <when test="startDate!=null and endDate!=null">
                AND (create_time BETWEEN #{startDate} AND #{endDate})
            </when>
            <when test="startDate!=null" >
                AND create_time &gt; #{startDate}
            </when>
            <when test="endDate!=null" >
                AND create_time &lt; #{endDate}
            </when>
            <when test="createTime!=null">
                AND create_time = #{createTime}
            </when>
        </choose>
    </sql>
</mapper>